<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726779829818-s2voqgkvp0ueks5vcfciouuejaq39u8k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726779829818-s2voqgkvp0ueks5vcfciouuejaq39u8k</string>
	<key>API_KEY</key>
	<string>AIzaSyBljAFS_jTXwe2iKiDO9V8D9Lmuwh5WTpg</string>
	<key>GCM_SENDER_ID</key>
	<string>726779829818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.arquidiocesis.EncuentroCatolico</string>
	<key>PROJECT_ID</key>
	<string>encuentro-app-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>encuentro-app-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:726779829818:ios:a508364b1c41242f725f03</string>
</dict>
</plist>
