<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432606033933-6p4081ocjkg2rfdlld91sdukpk544aeg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432606033933-6p4081ocjkg2rfdlld91sdukpk544aeg</string>
	<key>API_KEY</key>
	<string>AIzaSyDiF1uhryLJNaak-zmZLQ9IeTAEYzbROsM</string>
	<key>GCM_SENDER_ID</key>
	<string>432606033933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.arquidiocesis.EncuentroCatolico</string>
	<key>PROJECT_ID</key>
	<string>encuentro-app</string>
	<key>STORAGE_BUCKET</key>
	<string>encuentro-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432606033933:ios:874f283321c2d0e5c1bd44</string>
</dict>
</plist>